DB_HOST=localhost
DB_PORT=5432
DB_NAME=biert
DB_USER=
DB_PASSWORD=
NUXT_SESSION_PASSWORD=change-me-32-chars-minimum-please
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
MAPTILER_KEY=
NUXT_OAUTH_GOOGLE_CLIENT_ID=
NUXT_OAUTH_GOOGLE_CLIENT_SECRET=
