DATABASE_URL=postgres:///biert
NUXT_SESSION_PASSWORD=change-me-32-chars-minimum-please
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
MAPTILER_KEY=
NUXT_OAUTH_GOOGLE_CLIENT_ID=
NUXT_OAUTH_GOOGLE_CLIENT_SECRET=
